<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR92C2t8e1k3K4Ca1lZ3CQO6z9T4XntF1tZ3PeX5T" crossorigin="anonymous"></script>
    <style>
        .card:hover {
            border-color: #f15b2a;
        }
        a.card-link {
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #f15b2a">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BrainBoost</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="${'/course'}">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Support</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<center>
    <div class="card" style="width: 60rem;">
        <div class="card-body">
            <h4 class="card-title">Please read the topic and then pass the quiz</h4>
            <h5 class="card-title" th:text="${paragraph.name}"></h5>
            <p class="card-text" th:text="${paragraph.description}"></p>
            <span>Quiz time:<p class="card-text" th:if="${paragraph.quizTime != null }" th:text="${paragraph.quizTime}"></p></span>
            <a href="/course" class="card-link">Go to the dashboard</a>
        </div>
    </div>
</center>

<br>
<center>
    <a th:if="${user.role.name == 'ROLE_ADMIN'}" type="button" th:href="@{'/quiz/admin/'+${paragraph.id}}" class="btn btn-primary">
        Add questions
    </a>

    <a type="button" th:href="@{'/quiz/'+${paragraph.name}+'/start'}" class="btn btn-success">
        Quiz
    </a>

</center>
</body>
</html>
